:root {
  --background: #eee;
  --midGreen: #21cd9c;
  --midGreenHover: #08b483;
  --darkGreen: #1b4942;
  --paleGreen: #c8e3d8;
}

body {
  background: var(--background);
  font-family: Georgia;
  margin: 0;
}

.main {
  padding: 30px;
}

.big-lorem-ipsum {
  font-size: 50px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 15em;
}

.btn {
  background-color: black;
  color: white;
  font-family: Basis, Arial, sans-serif;
  text-transform: unset;
  font-size: 16px;
}

.btn:hover {
  background-color: #222222;
}

.nav {
  background-color: var(--midGreen);
}

.nav-text {
  color: black;
  font-size: 20px;
}

.logo {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 17px;
  width: 30px;
  height: 30px;
}

.query-box {
  margin-bottom: 20px;
}

.single-gem-wrapper {
  border-bottom: 1px solid var(--darkGreen);
  padding: 10px;
  background-color: var(--paleGreen);
  color: var(--darkGreen);
}

.single-gem-wrapper h5 {
  color: var(--darkGreen);
  font-weight: bolder;
}
